/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}


/* HEADER */
.logo {
    width: 100%;
    background-color: #4ea0ff ;
    background-image: url("../img/pattern.png");
    background-size: 25%;

}

#booleaner {
    margin-top: 35px;
    margin-bottom: 5px;
    margin-left: 10px;
    width: 200px;
}

/* MAIN */
.container {
    width: 98%;
    margin: auto;
}

/* title and credits */
.title {
    font-size: 45px;
    margin-top: 1%;
}

.credit {
    color: grey;
    font-size: 20px;
}
.credit-date {
    font-size: 15px;
}

/* img */
.tb-images {
    margin-top: 30px;
}
.img-credit {
    font-size: 13px;
}

/* paragraph and list */
.paragraph {
    margin-top: 30px;
    font-size: 18px;
}
.list {
    margin-top: 30px;
    font-size: 18px;
    margin-left: 16px;
}

/* table */
table {
    margin-top: 30px;
}
thead {
    width: 100%;
    color: white;
    background-color: #20a9e5;
    text-align: left;
}
.shorter {
    width: 60%;
}
.skyblue {
    background-color: #b1e5f2;
}